{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<div class= "container">
  <header class= "jumbotron">
    <h1>Super Rentalia</h1>
    <h5>*It's time all of us for a place to sleep.*</h5>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
